* {
  box-sizing: border-box;
  margin: 0;
}
.main_color {
  background: #3eb489;
  --accent-color: #ffffff;
  --text-color: #333;
}
.main-bg {
  height: 300px;
  background-image: url(./img/bg-1.png);
  background-size: cover;
  background-position: center;
}
.food-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.food_img1 {
  background-image: url("./img/food1.png");
}
.food_img2 {
  background-image: url("./img/food2.png");
}
.food_img3 {
  background-image: url("./img/food3.png");
}
